[submodule "www/sites/all/modules/features/govi_contratacion"]
	path = www/sites/all/modules/features/govi_contratacion
	url = https://gitlab.com/DDCMS_Govimentum/govi_contratacion
       branch = master
[submodule "www/sites/all/modules/features/govi_control"]
	path = www/sites/all/modules/features/govi_control
	url = https://gitlab.com/DDCMS_Govimentum/govi_control
       branch = master
[submodule "www/sites/all/modules/features/govi_directorio_funcionarios"]
	path = www/sites/all/modules/features/govi_directorio_funcionarios
	url = https://gitlab.com/DDCMS_Govimentum/govi_directorio_funcionarios
       branch = master
[submodule "www/sites/all/modules/features/govi_encabezado_institucional"]
	path = www/sites/all/modules/features/govi_encabezado_institucional
	url = https://gitlab.com/DDCMS_Govimentum/govi_encabezado_institucional
       branch = master
[submodule "www/sites/all/modules/features/govi_eventos"]
	path = www/sites/all/modules/features/govi_eventos
	url = https://gitlab.com/DDCMS_Govimentum/govi_eventos
       branch = master
[submodule "www/sites/all/modules/features/govi_informacion_interes"]
	path = www/sites/all/modules/features/govi_informacion_interes
	url = https://gitlab.com/DDCMS_Govimentum/govi_informacion_interes
       branch = master
[submodule "www/sites/all/modules/features/govi_informaci_n_institucional"]
	path = www/sites/all/modules/features/govi_informaci_n_institucional
	url = https://gitlab.com/DDCMS_Govimentum/govi_informaci_n_institucional
       branch = master
[submodule "www/sites/all/modules/features/govi_instrumentos_gestion_info"]
	path = www/sites/all/modules/features/govi_instrumentos_gestion_info
	url = https://gitlab.com/DDCMS_Govimentum/govi_instrumentos_gestion_info
       branch = master
[submodule "www/sites/all/modules/features/govi_links_destacados"]
	path = www/sites/all/modules/features/govi_links_destacados
	url = https://gitlab.com/DDCMS_Govimentum/govi_links_destacados
       branch = master
[submodule "www/sites/all/modules/features/govi_marco_legal"]
	path = www/sites/all/modules/features/govi_marco_legal
	url = https://gitlab.com/DDCMS_Govimentum/govi_marco_legal
       branch = master
[submodule "www/sites/all/modules/features/govi_mecanismos_contacto"]
	path = www/sites/all/modules/features/govi_mecanismos_contacto
	url = https://gitlab.com/DDCMS_Govimentum/govi_mecanismos_contacto
       branch = master
[submodule "www/sites/all/modules/features/govi_noticias"]
	path = www/sites/all/modules/features/govi_noticias
	url = https://gitlab.com/DDCMS_Govimentum/govi_noticias
       branch = master
[submodule "www/sites/all/modules/features/govi_planeacion"]
	path = www/sites/all/modules/features/govi_planeacion
	url = https://gitlab.com/DDCMS_Govimentum/govi_planeacion
       branch = master
[submodule "www/sites/all/modules/features/govi_presupuesto"]
	path = www/sites/all/modules/features/govi_presupuesto
	url = https://gitlab.com/DDCMS_Govimentum/govi_presupuesto
       branch = master
[submodule "www/sites/all/modules/contrib/govi_sdqs"]
	path = www/sites/all/modules/contrib/govi_sdqs
	url = https://gitlab.com/DDCMS_Govimentum/govi_sdqs
       branch = master
[submodule "www/sites/all/modules/contrib/govi_servicio_al_ciudadano"]
	path = www/sites/all/modules/contrib/govi_servicio_al_ciudadano
	url = https://gitlab.com/DDCMS_Govimentum/govi_servicio_al_ciudadano
       branch = master
[submodule "www/sites/all/modules/contrib/govi_slideshow_principal"]
	path = www/sites/all/modules/contrib/govi_slideshow_principal
	url = https://gitlab.com/DDCMS_Govimentum/govi_slideshow_principal
       branch = master
[submodule "www/sites/all/modules/contrib/govi_transparencia"]
	path = www/sites/all/modules/contrib/govi_transparencia
	url = https://gitlab.com/DDCMS_Govimentum/govi_transparencia
       branch = master
[submodule "www/sites/all/modules/contrib/govi_tramites_servicios"]
	path = www/sites/all/modules/contrib/govi_tramites_servicios
	url = https://gitlab.com/DDCMS_Govimentum/govi_tramites_servicios
       branch = master
